<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914092974957-nh89qqca0dbakc5gdspudqktegmf7pr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914092974957-nh89qqca0dbakc5gdspudqktegmf7pr4</string>
	<key>API_KEY</key>
	<string>AIzaSyAJv-VLAlbe7Mn_MnonZ4-6VJi6xc4hSTs</string>
	<key>GCM_SENDER_ID</key>
	<string>914092974957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DFA.ArchO</string>
	<key>PROJECT_ID</key>
	<string>acrhdocproj</string>
	<key>STORAGE_BUCKET</key>
	<string>acrhdocproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914092974957:ios:90167d8988f29278387064</string>
</dict>
</plist>